<!-- Eliminamos todo lo que contiene este archivo -->
{{ 2+2 }} <!-- Todo lo que se ponga dentro de los corchetes es código JS -->
<!-- Dentro de nuestro app.component.ts esta toda la lógica de nuestro componente. 
Vamos a crear una varibale llamada autorName = 'Paola Cuadros' 
-->
{{ autorName }} <!-- Mostramos la variable en el navegador. -->

<input type="text" [(ngModel)]="autorName" >

<div *ngIf="autorName==='Paola'; else elseBlock">Hola care bola</div>
<ng-template #elseBlock>Content to render when value is null.</ng-template>

<!-- Esto hace que los cambios que hagamos acá afecte directamente nuestra variable  autorName-->

<!-- Directiva gnIf -->
<div *ngIf="2===21" >
  Si, la condición se cumple
</div>
<!-- Validar si la variable autorName === 'Paola' -->
<div *ngIf="autorName==='Paola'" >
  El nombre es Paola
</div>

<!-- ----------------- Explicación directiva ngFor ----------------- -->
<ul>
  <li *ngFor=" let name of names " >
    {{ name }}
  </li>
</ul>

<!-- Iterar con la posición del arreglo -->
<ul>
  <li *ngFor=" let name of names; index as i " >
    {{ name }} - {{ i }}
    <!-- Botón para eliminar un elemento de nuestro array -->
    <button (click)="deleteName(i)" > Delete </button>
  </li>
</ul>

<!-- Agregar un item a nuestro arreglo -->
<button (click)="addName()" > Agregar nombre </button>

<!-- Validar si nuestra lista está vacía
Si el .length es igual a 0 nos mostrará ese mensaje.
-->
<ul>
  <li *ngIf="names.length === 0" >La lista está vacía</li>
  <li *ngFor=" let name of names; index as i " >
    {{ name }} - {{ i }}
    <!-- Botón para eliminar un elemento de nuestro array -->
    <button (click)="deleteName(i)" > Delete </button>
  </li>
</ul>

<!-- ----------------- Fin explicación directiva ngFor ----------------- -->